FATSECRET_CLIENT_ID=
FATSECRET_CLIENT_SECRET=
AI_SECRET=
GROQ_API_KEY=
DB_USER = 
DB_HOST = 
DB_PASSWORD = 
DB_PORT = 5432
DB_NAME=
DATABASE_URL=
PORT=3000

NODE_ENV=

GMAIL_USER=
GMAIL_APP_PASSWORD=
SESSION_SECRET=
