<app-auth-head></app-auth-head>

<div class="container">
    <div class="content">

        <div class="input-wrapper">
            <span class="input-icon">🥗</span>
            <input type="text" [(ngModel)]="query" class="form-input" placeholder="Введите название блюда/продукта"
                (keyup.enter)="search()" />
            <button (click)="search()" class="cta">Поиск</button>
        </div>

        <div class="table-container">
            <table class="food-table">
                <thead>
                    <tr>
                        <th>Название</th>
                        <th>Белки</th>
                        <th>Жиры</th>
                        <th>Углеводы</th>
                        <th>Калории(на 100г)</th>
                    </tr>
                </thead>
                <tbody>
                    @for (food of foods; track food.id) {
                    <tr (click)="loadFood(food.id)" style="cursor: pointer;">
                        <td>{{ food.name }}</td>
                        <td>{{ food.protein ?? '—' }}</td>
                        <td>{{ food.fat ?? '—' }}</td>
                        <td>{{ food.carbs ?? '—' }}</td>
                        <td>{{ food.calories ?? '—' }}</td>
                    </tr>
                    }
                </tbody>
            </table>
            @if(isLoading){
            <div class="loader">
                <div class="circle">
                    <div class="dot"></div>
                    <div class="outline"></div>
                </div>
                <div class="circle">
                    <div class="dot"></div>
                    <div class="outline"></div>
                </div>
                <div class="circle">
                    <div class="dot"></div>
                    <div class="outline"></div>
                </div>
                <div class="circle">
                    <div class="dot"></div>
                    <div class="outline"></div>
                </div>
            </div>
            }

            @if (notfound) {
            <tr>
                <td colspan="5" style="text-align: center;">Ничего не найдено</td>
            </tr>
            }
        </div>

        <div class="buttons-container">
            <button class="btn btn-add-photo" [routerLink]="['/ai']" routerLinkActive="router-link-active" >Добавить по фото</button>
            <button class="btn btn-home" routerLink="/authorized" (click)="applyFood()">Подтвердить</button>
        </div>

    </div>
</div>