<app-header></app-header>

<section class="hero">
    <div class="content">
        <div class="section-block login-section" id="login">
            <h2 class="section-title login-title">Введите код, котрый пришел на почту: </h2>
            <h1>email.com</h1>

            <form class="login-form" onsubmit="return false;">
                <div class="form-group">
                    <div class="input-wrapper">
                        <span class="input-icon">📧</span>
                        <input type="email" id="email" class="form-input" placeholder="Например: 113244" required />
                    </div>
                </div>

                <button type="submit" class="login-btn">
                    <span class="btn-text">Подтвердить</span>
                </button>
            </form>
        </div>

    </div>
</section>